- for (var x = 0; x < 3; x++)
  li item

-
  var list = ["Uno", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"]
each item in list
  li= item

p
  = '这个代码被 <转义> 了！'

p  != '这段文字 <strong>没有</strong> 被转义！'